MSSQL_CONN=Server=RAJESHWARANMURU\SQLEXPRESS01;Database=Dotnet8Crud;Trusted_Connection=True;TrustServerCertificate=True;


Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft_AspNetCore=Warning

AllowedHosts=*
